body{
    font-family: "Open Sans",sans-serif;
    color: #444444;
}

a {
    color: #106eea;
    text-decoration: none;
}

a:hover{
    color: #3b8af2;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Roboto", sans-serif;
}

/**
#Topbar
**/
#topbar{
    background: #106eea;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
    padding: 0;
}

#topbar .contact-info i{
    font-style: normal;
    color: #fff;
}

#topbar .contact-info i a, #topbar .contact-info i span{
    padding-left: 5px;
    color: #fff;
}

#topbar .contact-info i a{
    line-height: 0;
    transition: 0.3s;
    transition: 0.3s;
}

#topbar .contact-info i a:hover{
    color: #fff;
    text-decoration: underline;
}

#topbar .social-links a{
    color: rgba(255, 255, 255, 0.7);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
}

#topbar .social-links a:hover{
    color: white;
}

#header{
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    height: 86px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header.fixed-top{
    height: 70px;
}